body {
  text-align: center;
}

.container {
  width: 960px;
  height: 960px;
  background-color: white;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.reset-btn {
  margin-bottom: 16px;
  padding: 16px;
  background-color: rgb(245, 245, 40);
  border-radius: 12px;
  cursor: pointer;
}

#reset-btn:hover {
  background-color: rgb(140, 155, 3);
}

.change-squares-btn {
  margin-bottom: 16px;
  padding: 16px;
  background-color: rgb(40, 245, 88);
  border-radius: 12px;
  cursor: pointer;
}

#change-squares-btn:hover {
  background-color: rgb(2, 130, 2);
}
